<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Upload File</title>
</head>
<body>
	<h1>Upload File to send to ActiveMQ</h1>
	<div th:if="${message}">
		<h2 th:text="${message}" />
	</div>

	<div>
		<form method="POST" enctype="multipart/form-data"
			action="/orderUpload">
			<table>
				<tr>
					<td>Select File to upload:</td>
					<td><input type="file" name="file" /></td>
				</tr>
				<tr></tr>
				<tr></tr>
				<tr></tr>
				<tr>
					<td>Select Active MQ Destination:</td>
					<td><input type="radio" name="dest" id="q" value="queue"
						checked="checked" />Queue <input type="radio" name="dest" id="t"
						value="topic" />Topic</td>
				</tr>

				<tr></tr>
				<tr></tr>
				<tr></tr>
				<tr>
					<td></td>
					<td><input type="submit" value="Upload" /></td>
				</tr>
			</table>
		</form>
	</div>
</body>
</html>